.markdown {
  color: #ddd;
  font-size: 14px;
  font-family: Georgia, Times, 'Times New Roman', serif;
  padding-bottom: 50px;

  h1 {
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
  }

  h2 {
    font-size: 22px;
    line-height: 35px;
    margin: 30px 0 10px;
    border-bottom: 1px solid #333;
  }

  h3 {
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
  }

  ul {
    padding-left: 25px;
    li {
      line-height: 25px;
      font-size: 14px;
    }
  }

  b {
    color: #58a6ff;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    color: #c9d1d9;
  }

  blockquote {
    background-color: #222;
    padding: 5px 10px;
    border-radius: 3px;
    margin-bottom: 5px;
    line-height: 25px;

    > span {
      color: #5b9b4c;
      display: inline-block;
      font-weight: bold;
      margin-right: 10px;
    }
  }

  pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #111;
    border-radius: 6px;
    margin: 10px 0 20px;
  }

  .annotate {
    color: #5b9b4c;
  }

  // code css
  .css {
    color: #d4d4d4;
    .cssName {
      color: #ddb973;
    }
    .variable {
      color: #cf80c3;
    }
    .attrName {
      color: #89deff;
    }
    .attrValue {
      color: #d98e73;
    }
    .num {
      color: #afcfa4;
    }
    .key {
      color: #dcdda4;
    }
  }

  .js,
  .ts,
  .tsx {
    .obj {
      color: #89deff;
    }
    .fun {
      color: #dcdda4;
    }
    .key {
      color: #3a9ddb;
    }
    .type {
      color: #00ccaf;
    }
    .symbol {
      color: #d081c3;
    }
    .string {
      color: #d98e73;
      > span {
        color: #d98e73 !important;
      }
    }
    .num {
      color: #afcfa4;
    }
  }
}
